<div style="position:fixed; top:20px; right:20px; z-index:9999">
  <div id="borderedToast2" class="toast toast-border-success overflow-hidden mt-3" role="alert" aria-live="assertive"
    aria-atomic="true" data-bs-autohide="true" data-bs-delay="4000">
    <div class="toast-body">
      <div class="d-flex align-items-start">
        <div class="flex-shrink-0 me-2">
          <i class="ri-checkbox-circle-fill align-middle fs-2 text-success"></i>
        </div>
        <div class="flex-grow-1">
          <h6 class="fs-5 mt-2 ms-1 mb-0"></h6>
        </div>
        <button type="button" class="btn-close ms-3 mt-2 opacity-50" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
  </div>

  <div id="borderedToast4" class="toast toast-border-danger overflow-hidden mt-3" role="alert" aria-live="assertive"
    aria-atomic="true" data-bs-autohide="true"  data-bs-delay="4000">
    <div class="toast-body">
      <div class="d-flex align-items-start">
        <div class="flex-shrink-0 me-2">
          <i class="ri-alert-line align-middle fs-2 text-danger"></i>
        </div>
        <div class="flex-grow-1">
          <h6 class="fs-5 mt-2 ms-1 mb-0"></h6>
        </div>
        <button type="button" class="btn-close ms-3 mt-2 opacity-50" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>


<% if (toast && toast.length > 0) {
  const toastData = toast[0]; %>
  <script>
    window.addEventListener("DOMContentLoaded", function () {
      const toastMessage = JSON.parse('<%- JSON.stringify(toastData.message) %>');
      const toastType = JSON.parse('<%- JSON.stringify(toastData.type) %>');

      let toastElementId = toastType === 'success' ? 'borderedToast2' : 'borderedToast4';
       
      const toastElement = document.getElementById(toastElementId);

      if (toastElement) {
        
        toastElement.querySelector(".toast-body h6").textContent = toastMessage;

        var toast = new bootstrap.Toast(toastElement);
        toast.show();
      }
    });
  </script>
<% } %>